In [1]:
import pandas as pd 
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name': ['Тургенев', 'Чехов', 'Островский']})
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 
                                   'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 
                                   'Гроза', 'Таланты и поклонники'], 'price':[450, 300, 350, 500, 450, 370, 290]})
authors_price = pd.merge(authors,books,on = 'author_id')

In [28]:
authors_price.groupby('author_name').agg({"price":['min','max','mean']})

            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000